*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("https://media.istockphoto.com/vectors/best-friends-forever-trend-calligraphy-vector-id545463600");
    background-position: center;
    background-size: cover;
}
.content{
    width:100%;
    position: absolute;
    top: 200;
    transform: translateY(-0%);
    color: #fff;
}
.content h1{
    font-size: 32px;
    margin-left: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    margin-left: 500px;
    margin-top 90px;
    font-weight: 100;
    line-height: 25px;
}
.content h3{
    font-size: 18px;
    margin: 20px auto;
    margin-top: 100px;
    margin-left: 140px;
}
.content h4{
    font-size: 18px;
    margin: 20px auto;
    margin-left: 240px;
}
